.allura-regular {
    font-family: "Allura", serif;
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    background-color: rgb(255, 153, 204);
}

/* Initial game screen */

.main-div, 
.game-board-div {
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 1rem;
}
.main-div {
    flex-direction: column;
    background-color: rgb(255, 153, 204);
}
.main-div {
    width: 90%;
}
.game-board-div {
    width: 90%;
    border: 0.3rem solid rgb(255, 153, 204);
    gap: 5rem;
}
.game-board-div {
    display: inline-flex;
}
.options-div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.button-start {
    width: 10rem;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    border:rgb(255, 255, 255);
    margin: auto;
    font-family: "Allura", serif;
    font-weight: bold;
    font-size: 2rem;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.button-start:hover {
    color: rgb(255, 0, 127);
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}
.dropdown-div {
    width: 10rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    color: rgb(255, 255, 255);
    font-family: "Allura", serif;
    font-size: 2rem;
}
.dropdown {
    width: 100%;
    height: auto;
}
.select {
    width: 100%;
    height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
}

/* virtual keyboard */

.keyboard {
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(255, 153, 204);
}
.symbol-button,
.symbol-button-gameboard {
    width: 3.125rem;
    height: 3.125rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    border-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
.symbol-button {
    cursor: not-allowed;
}
.symbol-button-gameboard {
    cursor: pointer;
}
.symbol-button-gameboard-keydown,
.symbol-button-gameboard:hover {
    color: rgb(255, 0, 127);
    box-shadow: 0 0 0.5em rgb(255, 255, 255);
    border: 0.125rem solid transparent;
}
.symbol-button-gameboard:disabled:hover {
    box-shadow: none;
    cursor: not-allowed;
    color: rgb(183, 183, 183);
}
.symbol-highlited {
    box-shadow: 0 0 0.5em rgb(153, 0, 76);
    border-color: rgb(153, 0, 76);
    color: rgb(153, 0, 76);
    cursor: not-allowed;
}

/* Starting game */

.game-options-div {
    width: 40%;
    height: auto;
    margin: 0.625rem 0;
    padding: 2rem 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3.125rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
}
.level-indicator,
.round-indicator {
    width: auto;
    height: auto;
    margin: auto;
    font-family: "Allura", serif;
    font-size: 3rem;
}
.again-message-div,
.won-message-div,
.lost-div,
.won-div {
    height: auto; 
    position: absolute;
    padding: 1.25rem;
    border: 0.3rem solid rgb(153, 0, 76);
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    font-family: "Allura", serif;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(10deg);
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.2); /* 3D-тени */
    perspective: 1000px;
    display: none;
}
.again-message-div {
    width: auto;
}
.won-message-div {
    width: auto;
}
.lost-div {
    width: 30%;
}
.cancel-button {
    position: absolute;
    right: 0.5rem;
    top: 15%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    cursor: pointer;
    color: transparent;
    border: none;
    background-color: transparent;
}
.cancel-button i {
    color: rgb(64, 64, 64);
    transition: color 0.3s;
}

.cancel-button:hover i {
    color: rgb(153, 0, 76);
}
.game-board {
    width: 80%;
    height: auto;
    margin: 0;
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(255, 153, 204);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.game-board-keyboard {
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(255, 153, 204);
}

.button-new-game2,
.button-next,
.button-repeat,
.button-new-game {
    width: 12rem;
    height: 3.5rem;
    margin: auto;
    background-color: rgb(255, 153, 204);
    color: rgb(0, 0, 0);
    border-radius: 1rem;
    border: 0.07rem solid rgb(255, 153, 204);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.button-repeat:hover,
.button-new-game:hover,
.button-next:hover {
    background-color: white;
    color: rgb(255, 0, 127);
    border: 0.07rem solid rgb(255, 0, 127);
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}
.button-repeat:disabled,
.button-new-game:disabled {
    background-color: white;
    color: grey;
    border: 0.07rem solid grey;
    transform: none;
    box-shadow: none;
    cursor: not-allowed;
}
.player-input {
    width: auto;
    text-align: center;
    height: 3rem;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    border-radius: 1rem;
}
.type-field-div {
    width: auto;
    height: auto;
    margin: auto;
    margin: 0.625rem;
    margin-bottom: 0;
    display: inline-flex;
    gap: 0.9rem;
}
.type-field {
    width: 3.5rem;
    height: 3.5rem;
    background-color: white;
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrong-input {
    background-color: rgb(255, 153, 153);
    box-shadow: 0 0 0.5em red;
}

/* MEDIA */

@media screen and (max-width: 1240px) {
    .player-input {
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 1100px) {
    .game-board-div {
        gap: 5rem;
    }
    .game-board {
        width: 75%;
        margin: 0;
        padding: 0;
    }
    .player-input {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1000px) {
    body {
        margin-top: 0.5rem;
    }
    .game-board-div {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin: auto;
        border-radius: 1rem;
        gap: 2rem;
    }
    .game-board {
        width: 100%;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
   .game-options-div {
        width: 100%;
        height: auto;
        margin: 0.625rem 0;
        padding: 0.3rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 0.1rem
    }
    .player-input {
        width: 30%;
        font-size: 1.1rem;
    }
    .type-field-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.7rem;
    }
    .type-field {
        font-size: 2rem;
    }
    .level-indicator,
    .round-indicator {
        font-size: 1.7rem;
    }
    .button-next,
    .button-repeat,
    .button-new-game {
        width: 7rem;
        height: 2.8rem;
        font-size: 0.7rem;
        font-weight: bold;
    }
    .symbol-button-gameboard {
        width: 3rem;
        height: 3rem;
    }
    .again-message-div,
    .won-message-div,
    .lost-div,
    .won-div {
        top: 13%;
    }
}
@media screen and (max-width: 768px) {
    .game-options-div {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .level-indicator,
    .round-indicator {
        font-size: 1.7rem;
    }
    .button-next,
    .button-repeat,
    .button-new-game {
        width: 7rem;
        height: 2.8rem;
        font-size: 0.7rem;
        font-weight: bold;
    }
    .player-input {
        width: 30%;
        font-size: 0.8rem;
    }
    .game-board-keyboard {
        gap: 0.8rem;
    }
    .again-message-div,
    .won-message-div,
    .lost-div,
    .won-div {
        width: 50%;
        top: 50%;
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 600px) {
    .keyboard {
        margin-top: 0;
        width: 100%;
    }
}
@media screen and (max-width: 560px) {
    .options-div {
        flex-direction: column;
    }
    .again-message-div,
    .won-message-div,
    .lost-div,
    .won-div {
        margin-top: 1rem;
        padding: 2rem 1rem;
    }
}
@media screen and (max-width: 450px) {
    .cancel-button {
        font-size: 1rem;
    }
    .again-message-div,
    .won-message-div,
    .lost-div,
    .won-div {
        top: 50%;
        left: 50%;
    }
}
@media screen and (max-width: 360px) {
    .keyboard {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
    .symbol-button-gameboard {
        width: 2.5rem;
        height: 2.5rem;
    }
    .player-input {
        width: 35%;
        font-size: 0.7rem;
    }
    .again-message-div,
    .won-message-div,
    .lost-div,
    .won-div {
        width: 50%;
        font-size: 1.7rem;
    }
}